body{
    background-color: black;
}

/* discography modal styling */
#discography {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    color: white;
}

#discography > * {
    font-size: 20px;
    width: 40%;
}

.fixed {
    position: fixed;
}

.logo {
    width: 50%;
    height: 50%;
}

.landing {
    background-image: url('./images/crowd-green.jpeg');
    background-size: cover;
    background-position: center center;
}