html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: 'Poppins';
}

#dropdown {
    z-index: 100;
}

.title {
    font-size: 80px;
}

#star {
    /* font-size: 30px; */
    transition: all;
    color: rgb(0, 231, 116);
}

.fa-solid {
animation: fadeIn 1s;
color: rgb(0, 231, 116);
}

@keyframes fadeIn {
0% { opacity: 0.3; }
100% { opacity: 1; }
}

#star:hover {
cursor: pointer;
}

#tour-date {
    margin: 10px;
}

#photo {
    height: 480px;
    width: 480px;
    overflow: hidden;
}

/* discography modal styling */
#discography {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    color: white;
}

#discography > * {
    font-size: 20px;
    width: 40%;
}

.fixed {
    position: fixed;
}

.logo {
    width: 960px;
    height: 540px;
}

.landing {
    background-image: url('./images/crowd-green.jpeg');
    background-size: cover;
    background-position: center center;
}

#about-info {
    width: 75%;
    height: 85%;
    margin: auto;
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
}

#about-content {
    color: white;
    text-align: center;
    font-size: 200%;
    overflow: scroll;
}

#about-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
  
#collab {
    font-size: 14pt;
}

.artist-title {
    display: flex;
}

.icon {
    position: relative;
    margin-left: 20px;
    align-self: center;
}

.artist-content {
    box-sizing: border-box;
    display: inline-flex;
}

.content-1 {
    display: block;
    margin-right: 20px;
}

.content-2 {
    max-width: 75%;
    margin-left: auto;
    margin-right: 0;
}

#disc-modal-btn {
    margin: 10px;
}

#bio {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #333;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#fav-event-close {
    font-size: 20px;
}

#fav-event-close:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

/* contact form styling */
#contact-modal {
    margin: 0;
    padding: 0;
    color: rgb(0, 231, 116);
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
    border-radius: 10px;
  }

   #contact-content {
    background: linear-gradient(to bottom, #333 0%, #000 100%); 
    opacity: 85%;
    margin: 20% auto;
    padding: 50px;
    border: 1px solid #000000;
    width: 40%;
  }
  .submit{
    color:rgb(0, 231, 116);
    background: black;
  }
   .close {
    color: rgb(0, 231, 116);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
   .close:hover,
    .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  } 

@media screen and (max-width: 992px) {
    .logo {
        width: 640px;
        height: 360px;
    }
    .artist-title {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    .artist-content {
        display: block;
    }
    #photo {
        margin-right: auto;
        margin-left: auto;
    }
    .icon {
        margin-left: 0;
    }
    .content-2 {
        display: block;
        text-align: center;
        max-width: 100%;
        margin-right: auto;
    }
    #disc-modal-btn {
        margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .logo {
        width: 480px;
        height: 270px;
    }
    #about-info {
        width: auto;
        height: auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .logo {
        width: 320px;
        height: 180px;
    }
  }