html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: 'Poppins';
}

.title {
    font-size: 80px;
}

#star {
transition: all;
color: rgb(0, 231, 116);
}

.fa-solid {
animation: fadeIn 1s;
color: rgb(0, 231, 116);
}

@keyframes fadeIn {
0% { opacity: 0.3; }
100% { opacity: 1; }
}

#star:hover {
cursor: pointer;
}

#tour-date {
    margin: 10px;
}

#photo {
    height: 480px;
    width: 480px;
    overflow: hidden;
}

/* discography modal styling */
#discography {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    color: white;
}

#discography > * {
    font-size: 20px;
    width: 40%;
}

.fixed {
    position: fixed;
}

.logo {
    width: 50%;
    height: 50%;
}

.landing {
    background-image: url('./images/crowd-green.jpeg');
    background-size: cover;
    background-position: center center;
}

.artist-title {
    display: flex;
}

.icon-text {
    position: relative;
    top: 2px;
    margin-left: 20px;
    align-self: center;
    font-size: 175%;
}

.artist-content {
    box-sizing: border-box;
    display: inline-flex;
}

.content-1 {
    display: block;
    margin-right: 20px;
}

.content-2 {
    max-width: 75%;
    margin-left: auto;
    margin-right: 0;
}

#disc-modal-btn {
    margin: 10px;
}

#bio {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #333;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}